:root {
    --pomodoro-background: #D95550;
    --container-background: #ffffff1a;
    --break-time-background: #457ca3;
    --redbrown: #541c1f;
    --black: #0000001A;
    --white1: #FFFFFF;
    --white2: #FFFFFFB3;
    --gray: #aaa;
}

* {
    box-sizing: border-box;
}

body {
    background: #dbdbdc;
}

.hidden {
    display: none !important;
}

/* wrapper */
.wrapper {
    width: 500px;
    height: 600px;
    margin: 2rem auto;
    overflow: hidden;
    /* 뉴모피즘 디자인을 적용한 코드 */
    border-radius: 30px;
    background: #dbdbdc;
    box-shadow: 20px 20px 60px #bababb,
        -20px -20px 60px #fcfcfd;
}

/* header */
header {
    margin: 6rem 0 0;
}

header span {
    font-size: 2rem;
    margin-left: 40px;
}

/* main */
main {
    margin: 0 40px;
}

main .input-containers {
    margin-top: 20px;
}
main .input-containers .input-container {
    width: 100%;
}
main label {
    display: inline-block;
    font-weight: 600;
    cursor: pointer;
    margin-top: 12px;
}
main label+input {
    width: 100%;
    padding: 10px;
    margin-top: 0.5rem;
    cursor: pointer;
    outline: none;

    /* 뉴모피즘 디자인을 적용한 코드 */
    border: none;
    border-radius: 10px;
    background: #dbdbdc;
    box-shadow: inset 1px 1px 10px #c4c4c4, inset -1px -1px 5px #fff
}

main label+input:focus {
    /* outline: 1px outset #ACF3AE; */
    /* border-radius: 2rem; */
}

main .warning-container {
    margin-top: 4px;
    margin-left: 8px;
}
main .warning {
    display: block;
    color: red;
    font-size: 0.75rem;
}

main button {
    display: block;
    margin-top: 2rem;
    margin-left: auto;
    width: 120px;
    padding: 10px;
    color: #ffffffe5;
    font-weight: bold;
    cursor: pointer;
    
    /* 뉴모피즘 디자인을 적용한 코드 */
    border: none;
    background: #7BCEEF;
    border-radius: 30px;
    box-shadow: 1px 1px 3px 1px #69afcb, -1px -1px 3px 1px #8dedff;
}

@media screen and (max-width:750px){
    .wrapper {
        width: 375px;
    }

    main button {
        width: 100%;
    }
}