:root {
    --pomodoro-background : #D95550;
    --container-background : #ffffff1a;
    --break-time-background : #457ca3;
    --redbrown : #541c1f;
    --black : #0000001A;
    --white1 : #FFFFFF;
    --white2 : #FFFFFFB3;
    --gray : #aaa;
}

* {
    box-sizing: border-box;
}
body {
    background-color: #f5f6f7;
}
.hidden {
    display: none !important;
}

/* wrapper */
.wrapper {
    width: 500px;
    margin: 1rem auto;

    /* 뉴모피즘 디자인을 적용한 코드 */
    border-radius: 30px;
    background: #f5f6f7;
    box-shadow:  50px 50px 100px #bfc0c1,
                -50px -50px 100px #ffffff;
}

/* header */
header {
    padding: 0.5rem 0;
    text-align: center;
    border-bottom: 1px solid #ddd;
}
header span {
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
}

/* main */
main {
    margin: 3rem 1rem;
}
main .head-container {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}
main .head-container div:nth-child(2) {
    margin-top: 2rem;
    font-size: 1.2rem;
    padding-bottom: 1rem;
}
main .head-container .border-radius {
    border: 2px solid black;
    border-radius: 10px;
}
main .input-container {
    margin-top: 0.5rem;
    height: 85px;
}
main label {
    display: block;
    font-weight: 600;
    cursor: pointer;
    margin-top: 1.5rem;
}
main label + input {
    width: 100%;
    outline: none;
    /* outline: 3px solid red; */
    /* outline-style: blue; */
    padding: 15px;
    border: 1px solid #aaa;
    margin-top: 0.5rem;
    cursor: pointer;
}
main label + input:focus {
    outline: 1px outset rgba(170, 50, 220, .6);
    /* border-radius: 2rem; */
}

main .warning {
    display: block;
    color: red;
    font-size: 0.8rem;
    margin-top: 8px;
}


/* main input[type=submit], */
main button{
    margin-top: 2rem;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #D95550;    
    color: #ffffffe5;
    cursor: pointer;
}
main button a {
    color: #ffffffe5;
    font-size: 1.1rem;
    cursor: pointer;
    text-decoration: none;
}

